body {
    margin: 0;
    background-color: #1C1C1C;
    padding-top: 64px;
}

.container {
    background-color: #1F2937;
    width : 500px;
    height : 550px;
    margin : 0 auto;
    padding-left: 52px;
    border-radius: 18px;
    box-shadow: 0px 0px 50px #121821;
}

/*-------- 
TYPOGROPHY
--------*/

span {
    color: white;
}

h1 {
    color: #4ADF86;
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
    width: 354px;
    height: 80px;
    padding-top: 95px;
}

p {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #D5D4D8;
    width: 372px;
    height: 28px;
}

button {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 9px 17px;
    border-radius: 6px;
    background-color: #4ADF86;
    color: white;
    margin-top: 51px;
    border: none;
    /* box-shadow: 0 0 15px black; */
}
button:hover, button:focus {
    background-color: #168342; 
    box-shadow: none;
}

#password-fieldone,
#password-fieldtwo {
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    margin-right: 24px;
    color: #55F991;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

/* --------------------------------
-------------------------------- */

.line {
    width: 446px;
    height: 3px;
    background-color: #273549;
    margin-top: 35px;
    margin-bottom: 35px;
}

.pass-container {
    display: flex;
}

/* .pass-box {
    width: 211px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    margin-right: 24px;
} */
